apiVersion: v1
kind: Service
metadata:
  name: hello-world-svc
  namespace: hello-world-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080 # Фиксируем порт, чтобы прописать его в апстрим Angie
  selector:
    app: hello-world
